@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto-Regular.ttf);
  }

body {
    background-image: url(./images/jason-leung-poI7DelFiVA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

p, h3 {
    color: white;
    font-size: 1.5rem;
}

body {
    display: grid;
    grid-template-rows: 1fr 6fr;
}

#homeTab {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

p, h3 {
    background-color: rgba(0, 0, 0, 0.451);
    padding: 10px;
    border-radius: 10px;
}

header {
    place-self: center;
}

#description {
    grid-column: 1 / -1;
    place-self: center;
}

#info {
    place-items: center;
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: repeat(2, 1fr);
}